body{
    background-color: rgb(228, 230, 230);
}
.fa{
    color: blue;
}
.box-inside{
    background-color: white;
    padding: 60px 5px;
    text-align: center;
    margin: 20px 15px;
}
a{
    border-bottom: 1px solid blue;
}
span{
    font-size: 15 px;
}
.box{
    padding: 20px;
}
.content{
    margin: 20px 0px;
}